<!-- Modal -->
<div id="modalClient" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Nuevo Cliente
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form class="form-book" (ngSubmit)="agregar()">
                    <input type="hidden" id="cliId" name="cliId" class="form-control" [(ngModel)]="cliente.id" />
                    <div class="form-group">
                        <label for="nombres">Nombres</label>
                        <input type="text" id="nombres" name="nombres" class="form-control" placeholder="Nombres" [(ngModel)]="cliente.nombres" />
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" id="apellidos" name="apellidos" class="form-control" placeholder="Apellidos" [(ngModel)]="cliente.apellidos" />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="tipo_doc">Tipo documento</label>
                            <select name="tipo_doc" id="tipo_doc" class="form-control" [(ngModel)]="cliente.tipo_doc">
                <option value="CC">Cedula Ciudadanía</option>
                <option value="PAS">Pasaporte</option>
                <option value="DCE">Documento de ciudadano extranjero</option>
              </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="num_doc">Numero de documento</label>
                            <input type="number" id="num_doc" name="num_doc" class="form-control" placeholder="" [(ngModel)]="cliente.num_doc" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fecha_nac">Fecha de nacimiento</label>
                        <input type="date" id="fecha_nac" name="fecha_nac" class="form-control" placeholder="Fecha de nacimiento" [(ngModel)]="cliente.fecha_nac" />
                    </div>
                    <div class="form-group">
                        <label for="observacion">Observación</label>
                        <textarea name="observacion" id="observacion" class="form-control" cols="50" rows="4" [(ngModel)]="cliente.observacion"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">
            Enviar
          </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modalEditClient" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Editar Cliente
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form class="form-book" (ngSubmit)="editarCliente()">
                    <input type="hidden" id="cliId" name="cliId" class="form-control" [(ngModel)]="edit.id" />
                    <div class="form-group">
                        <label for="nombres">Nombres</label>
                        <input type="text" id="nombres" name="nombres" class="form-control" placeholder="Nombres" [(ngModel)]="edit.nombres" />
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" id="apellidos" name="apellidos" class="form-control" placeholder="Apellidos" [(ngModel)]="edit.apellidos" />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="tipo_doc">Tipo documento</label>
                            <select name="tipo_doc" id="tipo_doc" class="form-control" [(ngModel)]="edit.tipo_doc">
                <option value="CC">Cedula Ciudadanía</option>
                <option value="PAS">Pasaporte</option>
                <option value="DCE">Documento de ciudadano extranjero</option>
              </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="num_doc">Numero de documento</label>
                            <input type="number" id="num_doc" name="num_doc" class="form-control" placeholder="" [(ngModel)]="edit.num_doc" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fecha_nac">Fecha de nacimiento</label>
                        <input type="date" id="fecha_nac" name="fecha_nac" class="form-control" placeholder="Fecha de nacimiento" [(ngModel)]="edit.fecha_nac" />
                    </div>
                    <div class="form-group">
                        <label for="observacion">Observación</label>
                        <textarea name="observacion" id="observacion" class="form-control" cols="50" rows="4" [(ngModel)]="edit.observacion"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">
            Enviar
          </button>
                </form>
            </div>
        </div>
    </div>
</div>